{
    "openapi": "3.0.0",
    "info": {
        "title": "phpList API Documentation",
        "description": "This is the OpenAPI documentation for phpList API.",
        "contact": {
            "email": "support@phplist.com"
        },
        "license": {
            "name": "AGPL-3.0-or-later",
            "url": "https://www.gnu.org/licenses/agpl.txt"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://www.phplist.com/api/v2",
            "description": "Production server"
        }
    ],
    "paths": {
        "/api/v2/administrators/attributes": {
            "get": {
                "tags": [
                    "admin-attributes"
                ],
                "summary": "Gets a list of all admin attribute definitions.",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Returns a JSON list of all admin attribute definitions.",
                "operationId": "68b7d9433a6358436de121484f402e3b",
                "parameters": [
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "after_id",
                        "in": "query",
                        "description": "Last id (starting from 0)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 25,
                            "maximum": 100,
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AdminAttributeDefinition"
                                            }
                                        },
                                        "pagination": {
                                            "$ref": "#/components/schemas/CursorPagination"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "admin-attributes"
                ],
                "summary": "Create an admin attribute definition.",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Returns created admin attribute definition.",
                "operationId": "5bee92e632fc1245eba1d29f00558a80",
                "parameters": [
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Pass parameters to create admin attribute.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AdminAttributeDefinitionRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdminAttributeDefinition"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/administrators/attributes/{definitionId}": {
            "get": {
                "tags": [
                    "admin-attributes"
                ],
                "summary": "Gets attribute with specified ID.",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Returns a single attribute with specified ID.",
                "operationId": "9e57fc1f6a265beac32eb349f5c730f0",
                "parameters": [
                    {
                        "name": "definitionId",
                        "in": "path",
                        "description": "Definition ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdminAttributeDefinition"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "There is no attribute with that ID."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "admin-attributes"
                ],
                "summary": "Update an admin attribute definition.",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Returns updated admin attribute definition.",
                "operationId": "f9808a1d30aebafde1426e19dae9e8cf",
                "parameters": [
                    {
                        "name": "definitionId",
                        "in": "path",
                        "description": "Definition ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Pass parameters to update admin attribute.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AdminAttributeDefinitionRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdminAttributeDefinition"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "admin-attributes"
                ],
                "summary": "Deletes an attribute definition.",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Deletes a single admin attribute definition.",
                "operationId": "5e22c902d069355dd7b6ee6fac9309af",
                "parameters": [
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "definitionId",
                        "in": "path",
                        "description": "Definition ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/administrators/{adminId}/attributes/{definitionId}": {
            "get": {
                "tags": [
                    "admin-attributes"
                ],
                "summary": "Gets admin attribute.",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Returns a single attribute.",
                "operationId": "c78ef2b0910f4e150dbcd2a6cd0ea27e",
                "parameters": [
                    {
                        "name": "definitionId",
                        "in": "path",
                        "description": "attribute definition id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "adminId",
                        "in": "path",
                        "description": "Administrator id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdminAttributeValue"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "There is no attribute with that ID."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "admin-attributes"
                ],
                "summary": "Create/update an admin attribute.",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Returns created/updated admin attribute.",
                "operationId": "3cc645e3d26cc49501ad67adda844712",
                "parameters": [
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "definitionId",
                        "in": "path",
                        "description": "attribute definition id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "adminId",
                        "in": "path",
                        "description": "Administrator id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Pass parameters to create admin attribute.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "value": {
                                        "type": "string",
                                        "example": "United States"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdminAttributeValue"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "admin-attributes"
                ],
                "summary": "Deletes an attribute.",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Deletes a single admin attribute.",
                "operationId": "7e8b9cefb17ef3cbb69501820e0d0f6c",
                "parameters": [
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "definitionId",
                        "in": "path",
                        "description": "attribute definition id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "adminId",
                        "in": "path",
                        "description": "Administrator id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/administrators/{adminId}/attributes": {
            "get": {
                "tags": [
                    "admin-attributes"
                ],
                "summary": "Gets a list of all admin attributes.",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Returns a JSON list of all admin attributes.",
                "operationId": "d6a09a4d6f2451e72c2a8b23e2fd1911",
                "parameters": [
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "adminId",
                        "in": "path",
                        "description": "Administrator id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "after_id",
                        "in": "query",
                        "description": "Last id (starting from 0)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 25,
                            "maximum": 100,
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AdminAttributeValue"
                                            }
                                        },
                                        "pagination": {
                                            "$ref": "#/components/schemas/CursorPagination"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/administrators": {
            "get": {
                "tags": [
                    "administrators"
                ],
                "summary": "Get Administrators",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Get list of administrators.",
                "operationId": "dfc888f94f2ce46ce7a2ae8e1d55ebbc",
                "parameters": [
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "after_id",
                        "in": "query",
                        "description": "Last id (starting from 0)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 25,
                            "maximum": 100,
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Administrator"
                                            }
                                        },
                                        "pagination": {
                                            "$ref": "#/components/schemas/CursorPagination"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid input"
                    }
                }
            },
            "post": {
                "tags": [
                    "administrators"
                ],
                "summary": "Create Administrator",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Create a new administrator.",
                "operationId": "62e1c82af2ab59be7300fa99f73bc354",
                "parameters": [
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Administrator data",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAdministratorRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Administrator created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Administrator"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid input"
                    }
                }
            }
        },
        "/api/v2/administrators/{adminId}": {
            "get": {
                "tags": [
                    "administrators"
                ],
                "summary": "Get Administrator",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Get administrator by ID.",
                "operationId": "71a302c638b746ec7169b15da4ae7c9a",
                "parameters": [
                    {
                        "name": "adminId",
                        "in": "path",
                        "description": "Administrator ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Administrator found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Administrator"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Administrator not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "administrators"
                ],
                "summary": "Update Administrator",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Update an administrator.",
                "operationId": "53023c81474020aca57ac09031e1c49c",
                "parameters": [
                    {
                        "name": "adminId",
                        "in": "path",
                        "description": "Administrator ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Administrator update data",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateAdministratorRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Administrator updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Administrator"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Administrator not found"
                    }
                }
            },
            "delete": {
                "tags": [
                    "administrators"
                ],
                "summary": "Delete Administrator",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Delete an administrator.",
                "operationId": "52cdf4ca32e2fe304993bdac19c1bc92",
                "parameters": [
                    {
                        "name": "adminId",
                        "in": "path",
                        "description": "Administrator ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Administrator deleted successfully"
                    },
                    "404": {
                        "description": "Administrator not found"
                    }
                }
            }
        },
        "/api/v2/password-reset/request": {
            "post": {
                "tags": [
                    "password-reset"
                ],
                "summary": "Request a password reset.",
                "description": "Request a password reset token for an administrator account.",
                "operationId": "7725789cb52ab5de77489011d4c43928",
                "requestBody": {
                    "description": "Administrator email",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "admin@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Password reset token generated"
                    },
                    "400": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequestResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/password-reset/validate": {
            "post": {
                "tags": [
                    "password-reset"
                ],
                "summary": "Validate a password reset token.",
                "description": "Validate a password reset token.",
                "operationId": "336b157137fc4c4bd95714810f934ef8",
                "requestBody": {
                    "description": "Password reset token",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "token"
                                ],
                                "properties": {
                                    "token": {
                                        "type": "string",
                                        "example": "a1b2c3d4e5f6"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "valid": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequestResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/password-reset/reset": {
            "post": {
                "tags": [
                    "password-reset"
                ],
                "summary": "Reset password with token.",
                "description": "Reset an administrator password using a token.",
                "operationId": "19b7cbd6a10c9636a579b35028d1b1fc",
                "requestBody": {
                    "description": "Password reset information",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "token",
                                    "newPassword"
                                ],
                                "properties": {
                                    "token": {
                                        "type": "string",
                                        "example": "a1b2c3d4e5f6"
                                    },
                                    "newPassword": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "newSecurePassword123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Password updated successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid or expired token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequestResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/sessions": {
            "post": {
                "tags": [
                    "sessions"
                ],
                "summary": "Log in or create new session.",
                "description": "✅ **Status: Stable** – This method is stable and safe for production use. Given valid login data, this will generate a login token that will be valid for 1 hour.",
                "operationId": "8ecb80a8846ff88c2cc875960f7268c1",
                "requestBody": {
                    "description": "Pass session credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "login_name",
                                    "password"
                                ],
                                "properties": {
                                    "login_name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "admin"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "eetIc/Gropvoc1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1234
                                        },
                                        "key": {
                                            "type": "string",
                                            "example": "2cfe100561473c6cdd99c9e2f26fa974"
                                        },
                                        "expiry": {
                                            "type": "string",
                                            "example": "2017-07-20T18:22:48+00:00"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequestResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Not authorized."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/sessions/{sessionId}": {
            "delete": {
                "tags": [
                    "sessions"
                ],
                "summary": "Delete a session.",
                "description": "✅ **Status: Stable** – This method is stable and safe for production use. Delete the session passed as a parameter.",
                "operationId": "a6b4f29398d881badfa190dd11326fc9",
                "parameters": [
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sessionId",
                        "in": "path",
                        "description": "Session id (not key as for authentication) obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/sessions/me": {
            "get": {
                "tags": [
                    "sessions"
                ],
                "summary": "Get auth user data.",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Get auth user data.",
                "operationId": "17c16a66c3e6fc44535253b7234f3727",
                "parameters": [
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Administrator found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Administrator"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Not authorized."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/attachments/download/{id}": {
            "get": {
                "tags": [
                    "attachments"
                ],
                "summary": "Download attachment",
                "description": "Download an attachment by ID. `uid` query parameter is required.",
                "operationId": "adf9081332610a149939c162b95e5286",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Attachment ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "uid",
                        "in": "query",
                        "description": "Download token (subscriber email or word \"forwarded\")",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "File stream"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    }
                }
            }
        },
        "/api/v2/bounces/regex": {
            "get": {
                "tags": [
                    "bounces"
                ],
                "summary": "Gets a list of all bounce regex rules.",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Returns a JSON list of all bounce regex rules.",
                "operationId": "6449bb00e5412ff3d0bf9731a49fd172",
                "parameters": [
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/BounceRegex"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "bounces"
                ],
                "summary": "Create or update a bounce regex",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Creates a new bounce regex or updates an existing one (matched by regex hash).",
                "operationId": "91f09d8583ea3629b39c328464961dd8",
                "parameters": [
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Create or update a bounce regex rule.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "regex"
                                ],
                                "properties": {
                                    "regex": {
                                        "type": "string",
                                        "example": "/mailbox is full/i"
                                    },
                                    "action": {
                                        "type": "string",
                                        "example": "delete",
                                        "nullable": true
                                    },
                                    "list_order": {
                                        "type": "integer",
                                        "example": 0,
                                        "nullable": true
                                    },
                                    "admin": {
                                        "type": "integer",
                                        "example": 1,
                                        "nullable": true
                                    },
                                    "comment": {
                                        "type": "string",
                                        "example": "Auto-generated",
                                        "nullable": true
                                    },
                                    "status": {
                                        "type": "string",
                                        "example": "active",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BounceRegex"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/bounces/regex/{regexHash}": {
            "get": {
                "tags": [
                    "bounces"
                ],
                "summary": "Get a bounce regex by its hash",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Returns a bounce regex by its hash.",
                "operationId": "be73154c156c45440b3b3f47513d8e86",
                "parameters": [
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "regexHash",
                        "in": "path",
                        "description": "Regex hash",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BounceRegex"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "bounces"
                ],
                "summary": "Delete a bounce regex by its hash",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Delete a bounce regex by its hash.",
                "operationId": "47b3de553732c5de46647709a42d2ced",
                "parameters": [
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "regexHash",
                        "in": "path",
                        "description": "Regex hash",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/campaigns/{messageId}/copy": {
            "post": {
                "tags": [
                    "campaigns"
                ],
                "summary": "Copies campaign/message by id.",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Copies campaign/message by id into a draft message.",
                "operationId": "858216f8617f37fd5f4d40d4f84632d0",
                "parameters": [
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "messageId",
                        "in": "path",
                        "description": "message ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Message"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/campaigns/{messageId}/status": {
            "patch": {
                "tags": [
                    "campaigns"
                ],
                "summary": "Update campaign status by id.",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Updates campaign/message status by id.",
                "operationId": "8b4d780c2f00df2eddca6244cbfc45d8",
                "parameters": [
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "messageId",
                        "in": "path",
                        "description": "message ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Update message status.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MessageMetadataRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Message"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/campaigns/{messageId}/send": {
            "post": {
                "tags": [
                    "campaigns"
                ],
                "summary": "Processes/sends campaign/message by id.",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Processes/sends campaign/message by id.",
                "operationId": "8f1cd9b2882cd23e38fb481096e95658",
                "parameters": [
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "messageId",
                        "in": "path",
                        "description": "message ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Message"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/campaigns/{messageId}/resend": {
            "post": {
                "tags": [
                    "campaigns"
                ],
                "summary": "Processes/sends campaign/message by id to lists.",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Processes/sends campaign/message by id to specified mailing lists.",
                "operationId": "e83ae5f0557b149d31889770ae75b36b",
                "parameters": [
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "messageId",
                        "in": "path",
                        "description": "message ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "List ids to send this campaign to.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ResendMessageToListsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Message"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/campaigns/{messageId}/test-send": {
            "post": {
                "tags": [
                    "campaigns"
                ],
                "summary": "Processes/sends campaign/message by id to specified subscribers.",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Processes/sends campaign/message by id to specified subscribers.",
                "operationId": "6503953d7fcf631b0582053a57d2f2a8",
                "parameters": [
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "messageId",
                        "in": "path",
                        "description": "message ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Subscribers email to send this campaign to.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ResendMessageToListsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Message"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/campaigns": {
            "get": {
                "tags": [
                    "campaigns"
                ],
                "summary": "Gets a list of all campaigns.",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Returns a JSON list of all campaigns/messages.",
                "operationId": "ea24d861841d2dbccb639a4d2918aebc",
                "parameters": [
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "after_id",
                        "in": "query",
                        "description": "Last id (starting from 0)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 25,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "subject",
                        "in": "query",
                        "description": "Filter campaigns by subject (partial match)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "maxLength": 50
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Message"
                                            }
                                        },
                                        "pagination": {
                                            "$ref": "#/components/schemas/CursorPagination"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "campaigns"
                ],
                "summary": "Create a message for campaign.",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Returns created message.",
                "operationId": "4509477a54e9a738a3ff9ad71f8a7b00",
                "parameters": [
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Create a new message.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "content",
                                    "format",
                                    "metadata",
                                    "schedule",
                                    "options"
                                ],
                                "properties": {
                                    "template_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "content": {
                                        "$ref": "#/components/schemas/MessageContentRequest"
                                    },
                                    "format": {
                                        "$ref": "#/components/schemas/MessageFormatRequest"
                                    },
                                    "metadata": {
                                        "$ref": "#/components/schemas/MessageMetadataRequest"
                                    },
                                    "schedule": {
                                        "$ref": "#/components/schemas/MessageScheduleRequest"
                                    },
                                    "options": {
                                        "$ref": "#/components/schemas/MessageOptionsRequest"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Message"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/campaigns/{messageId}": {
            "get": {
                "tags": [
                    "campaigns"
                ],
                "summary": "Gets a campaign by id.",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Returns campaign/message by id.",
                "operationId": "f1c98ff78ce3d1ce528257de4ce3da07",
                "parameters": [
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "messageId",
                        "in": "path",
                        "description": "message ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Message"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "campaigns"
                ],
                "summary": "Update campaign by id.",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Updates campaign/message by id.",
                "operationId": "442ec1af3bc897d7b2daf7d0013ea367",
                "parameters": [
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "messageId",
                        "in": "path",
                        "description": "message ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Update message.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "content",
                                    "format",
                                    "schedule",
                                    "options"
                                ],
                                "properties": {
                                    "template_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "content": {
                                        "$ref": "#/components/schemas/MessageContentRequest"
                                    },
                                    "format": {
                                        "$ref": "#/components/schemas/MessageFormatRequest"
                                    },
                                    "schedule": {
                                        "$ref": "#/components/schemas/MessageScheduleRequest"
                                    },
                                    "options": {
                                        "$ref": "#/components/schemas/MessageOptionsRequest"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Message"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "campaigns"
                ],
                "summary": "Delete campaign by id.",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Delete campaign/message by id.",
                "operationId": "f13a1efd58d8cfb8bc67807adcec2d8e",
                "parameters": [
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "messageId",
                        "in": "path",
                        "description": "message ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Message"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/email-forward/{messageId}": {
            "post": {
                "tags": [
                    "campaigns"
                ],
                "summary": "Forward a message to recipients.",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production. Queues forwarding of a campaign/message to provided recipient emails.",
                "operationId": "c41e27bcaf3409ec2efda8660574850e",
                "parameters": [
                    {
                        "name": "php-auth-pw",
                        "in": "header",
                        "description": "Session key obtained from login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "messageId",
                        "in": "path",
                        "description": "message ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Forwarding payload",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ForwardMessageRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ForwardResult"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/list-messages/message/{messageId}/lists": {
            "get": {
                "tags": [
                    "list-messages"
                ],
                "summary": "Returns a list of subscriber lists associated with a message.",
                "description": "🚧 **Status: Beta** – This method is under development. Avoid using in production.",
                "operationId": "13859632a920ab15c277632e3a389f91",
                "parameters": [
                    {
                        "name": "php-auth-pw",
[...]
