{% extends 'base.html.twig' %}

{% block title %}phpList - {{ page }}{% endblock %}

{% block body %}
    <div id="vue-app" 
         data-api-token="{{ api_token|default('') }}" 
         data-api-base-url="{{ api_base_url|default('') }}">
    </div>
{% endblock %}
